[Unit]
Description=Gunicorn application server handling {{ project_name }}

[Service]
User={{ ansible_user }}
Group=www-data
WorkingDirectory={{ install_root }}/{{ project_name }}
ExecStart=/usr/bin/gunicorn3 --access-logfile - --workers 3 --bind unix:/run/gunicorn.sock django_polls.wsgi:application

[Install]
WantedBy=multi-user.target